
  body {
    background: rgb(12, 12, 12); /* Set a black background color */
    margin: 0;
    padding: 0;
    display: flex;
    position: relative;
    background-position: calc(100% + 350px)80%;
    }

  .background-image-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('images/img3.jpg');
    background-size: cover;
    background-position: center center;
    opacity: 0.9;
    transition: opacity 0.5s; /* Add a smooth transition effect */
    margin-left: 270px;
  }

  .background-image-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.8; /* Adjust the opacity as needed */
  }

  .container {
    display: flex;
  }
  
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 350px;
    height: 100%;
    background-color: black;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    transition: width 0.3s; 
  }

  .collapsed {
    width: 0; /* Collapsed width */
    /* Other styles to hide content */
  }

  .logo {
    text-align: center; /* Center the image horizontally */
    margin-bottom: -35px; /* Add some spacing below the image */
  }
  
  .logo img {
    max-width: 30%; /* Ensure the image doesn't exceed its container */
  }

  .sidebar h1 {
    font-family: 'Abril Fatface', cursive;
    font-size: 32px;
    color: white;
    margin-bottom: 0px; /* Add some spacing below the heading */
    text-align: center;
  }

  .sidebar h3{
    font-family: 'Abril Fatface', cursive;
    font-size: 14px;
    color: rgb(163, 157, 157);
    text-align: center;
    margin-bottom: 60px;
    margin-top: 0px;
  }

  .sidebar ul {
    list-style: none;
    padding: 0;
    text-align: left;
  }
  
  .sidebar ul li {
    margin-bottom: 15px;
    align-self: center;
    border-bottom: 1px solid rgb(70, 68, 68); /* Add a grey border at the bottom of each list item */
    padding-bottom: 8px;
  }
  
  .sidebar ul li:last-child {
    border-bottom: none; /* Remove the border from the last list item */
  }
  
  .sidebar ul li a {
    font-size: 17px;
    font-family: 'Abril Fatface', cursive;
    text-decoration: none;
    color: rgb(163, 157, 157); /* Change the color to your preferred color */
    font-weight: bold; /* Set the font weight of the links */
    transition: all 0.3s;
  }

  .sidebar ul li a:hover {
    font-size: 18px; /* Increase font size on hover */
    transform: scale(1.1); /* Enlarge the link on hover */
    color: white;
  }

  .container {
    display: flex;
  }
  
  .social-icons {
    text-align: center;
    margin-top: 200px;
  }
  
  .social-icons a {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%; /* Create circular shape */
    background-color: grey;
    margin: 0 10px; /* Add spacing between icons */
    overflow: hidden; /* Ensure the image fits within the circular shape */
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
  }
  .social-icons a:hover{
    transform: scale(1.4);
  }
  
  .social-icons img {
    max-width: 100%; /* Ensure the image fits within the circular shape */
  }

  .footerside{
    font-size: 11px;
    font-family: 'Abril Fatface', cursive;
    text-decoration: none;
    color: rgb(163, 157, 157); /* Change the color to your preferred color */
    text-align: center;
  }

  .content {
    margin-left: 600px;
    margin-top: 200px;
    width: 800px;
    width: calc(100% - 350px);
  }
  
  .mission-text {
    font-family: 'Abril Fatface', cursive;
    font-size: 22px;
    text-align: center;
    max-width: 1000px; /* Set maximum width for the content */
    margin: 0 auto 20px; /* Center the text and add spacing */
    color: #9c9494;
    margin-top: 30px;
    margin-left: -250px;
    opacity: 0; /* Start with zero opacity */
    transition: opacity 0.5s ease-in-out; 
  }

  .content a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    color: #9c9494;
    border: 2px solid #9c9494;
    border-radius: 20px;
    margin-left: 170px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;/* Add smooth transitions */
  }
  
  .content a:hover {
    color: white;
    transform: scale(1.1);
    border: 2px solid white; 
  }
  
  .content h1 {
    font-size: 20px;
    font-family: 'Abril Fatface', cursive;
    color: inherit; /* Inherit color from the parent (link) */
  }

  .reviews-container {
    margin-top: 660px; /* Add some space between the content and reviews */
    overflow-y: scroll;
    margin-left: -850px;
    margin-right: 0px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Cormorant Garamond', serif;
    color: white;
    width: 600px;
    height: 110px;
    text-align: center;
    border: 1px solid white;
  }
  
  .reviews-container h2 {
    font-size: 10px;
  }
  
  .review-slide {
    display: none;  
    border: none; /* Remove the border */
    box-shadow: none; 
    transition: opacity 0.3s ease-in-out;
  }
  
  .review-slide p {
    margin-bottom: 10px;
  }
  
  .review-author {
    font-style: italic;
    font-family: 'Cormorant Garamond', serif;
  }
  
  /* Additional styles for review slider animation */
  .active-review {
    display: block;
  }

  .image-gallery-container {
    text-align: center; /* Center the image gallery horizontally */
    margin-top: 900px; /* Adjust margin as needed */
    margin-left: -925px;
    margin-right: 0px;
    width: 1200px;
  }
  
  .image-gallery {
    display: inline-block;
  }
  
  .image-gallery img {
    width: 290px; /* Set the desired image width */
    height: 290px; /* Maintain aspect ratio */
    margin: 10px; /* Add spacing between images */
    border-radius: 5px;
  }

  img[loading="lazy"] {
    opacity: 0;
    transition: opacity 0.5s;
  }
  
  img[loading="lazy"].loaded {
    opacity: 1;
  }

  .image-text-container {
    text-align: center;
    padding: 40px 0;
    margin-top: 1850px;
    margin-left: -740px;
  }

  .image-text-container h1{
    font-family: 'Abril Fatface', cursive;
    font-size: 32px;
    color: white;
    margin-bottom: 0px; /* Add some spacing below the heading */
    text-align: center;
  }

  .image-text-container h3{
    font-family: 'Abril Fatface', cursive;
    font-size: 14px;
    color: rgb(163, 157, 157);
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  
  .image-text-container p {
    color: rgb(163, 157, 157);
    margin-bottom: 0px;
    font-family: 'Abril Fatface', cursive;
    font-size: 14px;
    text-align: center;
  }
  

  
